<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
   	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

    <context:property-placeholder location="classpath*:spring.properties"/>
    <mvc:annotation-driven/>
    <bean id="httpClientFactory" class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">
        <constructor-arg ref="httpClient"/>
    </bean>

    <bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig"
          factory-method="custom">
        <property name="socketTimeout" value="${rest.client.readTimeoutInMillis}"/>
        <property name="connectTimeout" value="${rest.client.connectTimeoutInMillis}"/>
    </bean>
    <bean id="requestConfig" factory-bean="requestConfigBuilder" factory-method="build"/>

    <bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder"
          factory-method="create">
        <property name="defaultRequestConfig" ref="requestConfig"/>
        <property name="connectionManager" ref="connectionManager"/>
    </bean>

    <bean id="httpClient" factory-bean="httpClientBuilder" factory-method="build"/>


    <bean id="connectionManager" class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager">
        <constructor-arg ref="socketFactoryRegistry"/>
        <property name="defaultMaxPerRoute" value="${rest.client.maxConnectionsPerHost}"/>
        <property name="maxTotal" value="${rest.client.maxTotalConnections}"/>
    </bean>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <constructor-arg ref="httpClientFactory"/>
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter"></bean>

                <bean class="org.springframework.http.converter.xml.Jaxb2CollectionHttpMessageConverter"></bean>
                <bean class="org.springframework.http.converter.FormHttpMessageConverter"></bean>
            </list>
        </property>
    </bean>

</beans>